<mat-card>
<h1>Users</h1>

<div class="user-list mat-elevation-z8" *ngIf="hasData()">

    <mat-table #table [dataSource]="dataSource" class="userlist">

        <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef>Naam</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.fullName }}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="emailAddress">
            <mat-header-cell *matHeaderCellDef>E-mailadres</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.emailAddress }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="admin">
            <mat-header-cell *matHeaderCellDef>Admin</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.roles[1] == "ADMIN"}}</mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let element" (click)="selectRow(element)" [ngClass]="{selected: element.fullName === selectedfullName}"></mat-row>

    </mat-table>

    <div *ngIf="showButtons()" id="floatleft">
        <button mat-raised-button *ngIf="!admin" class="mat-primary" (click)="makeAdmin()">mod persoon</button>
        <button mat-raised-button *ngIf="admin" class="mat-warn" (click)="unAdmin()">unmod persoon</button>
    </div>
</div>
</mat-card>