<mat-toolbar color="primary">

    <span routerLink="/" class="clickable">Lorem Ipsum applicatie</span>

    <span class="fill-remaining-space"></span>

    <button mat-raised-button class="mat-accent" (click)="goHome()">Home</button>
    <button *ngIf="!authenticated" mat-raised-button class="mat-accent" (click)="goLogin()">Inloggen</button>
    <button *ngIf="authenticated" mat-raised-button class="mat-accent" (click)="goProducts()">Producten</button>
    <!-- <button *ngIf="authenticated" mat-raised-button class="mat-accent" (click)="goUsers()">Gebruikers</button> -->
    <button *ngIf="authenticated" mat-raised-button class="mat-warn" (click)="logout()">Uitloggen</button>

</mat-toolbar>