.completeList {
    overflow: auto;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.selected {
    background: rgb(157, 170, 241);
}

#floatright {
    float: right;
    margin: 8px;
}

#floatleft {
    float: left;
    margin: 8px;
}

mat-cell {
    margin-right: 10px;
}

mat-table {
    overflow: auto;
    max-height: 500px;
}