<mat-card class="completeList">
<h1>Producten</h1>

<div class="product-list mat-elevation-z8" *ngIf="hasData()">

    <mat-table #table [dataSource]="dataSource" class="productlist">

        <ng-container matColumnDef="productname" class="productname">
            <mat-header-cell *matHeaderCellDef>Product naam</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.productName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef>Prijs</mat-header-cell>
            <mat-cell *matCellDef="let element">€{{ element.price }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>Beschrijving</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.description }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="available">
            <mat-header-cell *matHeaderCellDef>Aantal beschikbaar</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.available }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="soldAmount">
            <mat-header-cell *matHeaderCellDef>Aantal verkocht</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.soldAmount }}</mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let element" (click)="selectRow(element)" [ngClass]="{selected: element.productName === selectedproductName}"></mat-row>

    </mat-table>

    <div *ngIf="showButtons()" id="floatleft">
        <button mat-raised-button class="mat-primary" (click)="editProduct()">Edit product</button>
        <button mat-raised-button class="mat-warn" (click)="deleteProduct()">Verwijder product</button>
    </div>

    <div id="floatright">
        <button mat-raised-button class="mat-primary" routerLink="/products/add">Nieuw product toevoegen</button>
    </div>

</div>

</mat-card>