<div>
    <h1>De producten</h1>
    
    <div *ngIf="hasdata">
        <div *ngFor="let product of producten">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h1>{{product.productName}}</h1>
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content class=text>
                    <p>
                        Beschrijving: {{product.description}} <br>
                        Prijs: €{{product.price}} <br>
                        Op voorraad {{product.available}} stuks <br>
                    </p>
                </mat-card-content>
                <img class=productimg src="../../../assets/{{product.productName}}.jpg" alt="Afbeelding van {{product.productName}}"> 
                <mat-card-actions>
                    <button mat-raised-button type="submit" class="mat-primary" [disabled]="product.available < 1"
                    (click) = "buyProduct(product)">Koop dit product!</button>
                </mat-card-actions>
            </mat-card>           
        </div>
    </div>
    
</div>
 