<mat-card class=widht>
    <h1>De producten</h1>
    
    <div *ngIf="hasdata">
        <div *ngFor="let product of producten">
            <div class="products">
            <mat-card class="clear">
                <mat-card-header>
                    <mat-card-title>
                        <h1>{{product.productName}}</h1>
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content class=text>
                    <p>
                        Beschrijving: {{product.description}} <br>
                        Prijs: €{{product.price}} <br>
                        Op voorraad {{product.available}} stuks <br>
                    </p>
                </mat-card-content>
                <div class="imgwidth">
                <img class=productimg src="../../../assets/{{product.productName}}.png" alt="Afbeelding van {{product.productName}}"> 
                </div>
                    <button id="button" mat-raised-button type="submit" class="mat-primary" [disabled]="product.available < 1"
                    (click) = "buyProduct(product)" id="button">Koop dit product!</button>
            </mat-card>    
            </div>       
        </div>
    </div>
    
</mat-card>
 