.productimg {
    max-width: 200px;
    max-height: 170px;
}

.imgwidth {
    width: 40%;
    float: right;
}


.text {
    width: 50%;
    float: left;
}

#button{
    display: table;
    overflow: auto;
    content: "";
}

mat-card {
    content: "";
    display: table;
    height: 250px;
}

.widht {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.products {
    width: 500px;
    float: left;
    margin-left: 16px; 
    margin-right: 16px;    
}

mat-card-actions {
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(253, 198, 207);
    color: rgb(0, 0, 0);
    text-align: center;
}